@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    top: 100px;
  }

  to {
    top: 0;
  }
}

.modal-holder {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  z-index: 20;
}

.modal-title {
  width: 100%;
  background-color: #354053;
  border-radius: 10px 10px 0px 0px;
  text-align: left;
  font: normal normal 600 28px Montserrat;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 47px;
  box-sizing: border-box;
}

.modal {
  background: #ffffff;
  border-radius: 45px;
  margin: 10% auto 0% auto;
  // Bottom three were taken out so you can scroll
  // height: -webkit-fit-content;
  // height: -moz-fit-content;
  // height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  animation-name: popup;
  animation-duration: 0.3s;
  border-radius: 10px;
  z-index: 21;
  width: 785px;
  -moz-box-shadow: 0 0 5px #707070;
  -webkit-box-shadow: 0 0 5px #707070;
  box-shadow: 0 0 5px #707070;
}

.modal-body {
  padding: 47px;
}

.body-holder {
  text-align: center;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 45px;
}

@supports (-moz-appearance: none) {
  .modal-body {
    bottom: unset;
  }
}

.modal-label {
  text-align: left;
  font: normal normal bold 16px/21px Roboto;
  letter-spacing: 0.8px;
}

.modal-input {
  background-color: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  width: 300px;
  margin-top: 12px;
}

.input-full {
  width: 100%;
  box-sizing: border-box;
}

.submit-button {
  margin-top: 47px;
  background-color: #354053;
  border-radius: 5px;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1.26px;
  font: normal normal bold 18px/24px Roboto;
}

.cancel-button {
  margin-top: 12px;
  border: 1px solid #FB2222;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  color: #FB2222;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1.26px;
  font: normal normal bold 18px/24px Roboto;
}