<div class="bottle-view-page">
    <img class="back-btn pulse-grow-on-hover" routerLinkActive="active" [routerLink]="['/shore']" src="assets/img/arrowbackward.png">

        <a class="box-page"><img src="assets/img/bottleviewpage.png"></a>
        <div class="content-box">
            <input type="text" class="title-message" name="title" [(ngModel)]="title" placeholder="Bottle Title">
            <textarea class="paragraph-message" name="paragraph" [(ngModel)]="paragraph" placeholder="Type in your message here..."></textarea>
            <div *ngIf="!paragraph"><a class="ok-message"><img src="assets/img/OK.png"></a></div>
            <div *ngIf="paragraph" (click)="createBottle()"><a class="ok-message-content pulse-grow-on-hover"><img src="assets/img/OKcolored.png"></a></div>
        </div>
</div>

<ng-template #modalHolder></ng-template>