<google-map
  class= "map"
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-polyline [path]="drawPath"></map-polyline>

  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>


<button (click)="logCenter()">Log center</button>