html{
    height: 100%;
    width: 100%;
   }
   
body{
    width: 100%;
    height: 100%;
}  
    
.home-page {
      background-image: url("/assets/img/TheShore_BKG.png");
      background-size: cover;
      overflow: hidden;
      height: 100vh;
}
  
.home-start {
    background-image: url("/assets/img/Beginning.png");
    background-size: cover;
    display: block;
    overflow: hidden;
    z-index: 0;
    height: 100vh;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
  }

.arrow-style {
    color: white;
    background-image: url("/assets/img/arrowforward.png");
    z-index: 1;
    width: 100px;
    height: 100px;
}
  