<div class="modal-holder" (click)="closeModal()"></div>
<div class="modal">
  <div class="modal-title">
   Settings
  </div>
  <div class="body-holder">
    <div style="margin-top: 40px;">
        <div style="float: left;">
            <div class="modal-label">Old Username</div>
            <input class="modal-input" type="text" [(ngModel)]="old_username" value={{old_username}} placeholder="Insert Old Username" required/>
          </div>
        </div>
        <div style="float: right;">
            <div class="modal-label">New Username</div>
            <input class="modal-input" type="text" [(ngModel)]="new_username" value={{new_username}} placeholder="Insert New Username" required/>
          </div>
    <button class="submit-button" >Change Username</button>
    <button class="cancel-button">Logout</button>
  </div>
</div>
