html{
    height: 100%;
    width: 100%;
}
   
body{
    width: 100%;
    height: 100%;
   }  

   .box-page {
     position: absolute;
     float: right;
     margin-top: 90px;
     margin-left: 900px;
   }
   .box {
    position: relative;
    margin-top: 210px;
    display: flex;
  }

  .content-box {
    width: 300px;
    padding-left: 1200px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
  }

.bottle-view-page {
    background-image: url("/assets/img/bottleview.jpg");
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    z-index: 0;
}

.enter-num {
    text-align: center;
    border: 0;

  }

  .border-comment{
    position: absolute;
    z-index: 999;
    border: 5px solid #8a8783;
    border-radius: 25px;
    width: 500px;
    margin-top: 150px;
    opacity: .8;
    height: auto;
  }
  

  .reply-button {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    margin-top: 900px;
    width: 486px;
    height: 46.34px;
    border: none;
    background: #716A6A;
    border-radius: 50px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;

    color: #FFFFFF;
  }

  .reply-button-null {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    margin-top: 900px;
    width: 486px;
    height: 46.34px;
    border: none;
    background: #D7CEBE;
    border-radius: 50px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;

    color: #FFFFFF;
  }

  .eye-page {
    position: absolute;
    z-index: 999;
    margin-top: 900px;
    margin-left: 100px;
    cursor: pointer;
  }

  .eye-page:hover {
    filter: contrast(0%);
  }


  .eye-page-text {
    position: absolute;
    z-index: 999;
    margin-top: 900px;
    margin-left: 180px;
    font-family: Nunito;
    font-weight: bold;
    cursor: pointer;
  }

  .eye-page-text:hover {
    filter: contrast(0%);
  }

  .comment-page {
    position: absolute;
    z-index: 999;
    margin-top: 900px;
    margin-left: 300px;
    cursor: pointer;
  }

  .comment-page:hover {
    filter: contrast(0%);
  }


  .comment-page-text {
    position: absolute;
    z-index: 999;
    margin-top: 900px;
    margin-left: 380px;
    font-family: Nunito;
    font-weight: bold;
    cursor: pointer;
  }

  .comment-page-text:hover {
    filter: contrast(0%);
  }

  .title-message {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    font-weight: 800;
    line-height: 49px;
    color: #695B4C;
    border: none;
    position: absolute;
    z-index: 999;
    text-align: center;
    margin-top: 80px;
  }
  

  .paragraph-message {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 49px;
    color: #695B4C;    
    border: none;
    position: absolute;
    z-index: 999;
    text-align: center;
    overflow-wrap: break-word;
    outline: none;
    width: 36%;
    margin-top: 150px;
  }

  .reply-message {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 49px;
    outline: none;
    color: #695B4C;    
    border: none;
    position: absolute;
    z-index: 999;
    text-align: center;
    overflow-wrap: break-word;
    width: 33%;
    margin-top: 150px;
    margin-left: 10px;
    height: 700px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 25px;
    border: 3px solid#D7CEBE; 
  }

  .comment-createdDate {
    text-align: right;
    font-weight: bold;
  }

  .comment-heart {
    float:right;
    margin-right: 20px;
    margin-top: 7px;
    cursor: pointer;

  }

  .comment-heart-img {
    float:right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }

  .comment-heart:hover {
    filter: contrast(0%);
  }

  .comment-heart-img:hover {
    filter: contrast(0%);
  }

  .comment-postedBy {
    font-weight: bolder;
  }

  .map-btn {
    margin-top: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
  }

  .map-btn:hover {
    margin-top: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    margin-right: 40px;
  }

  .back-btn {
    margin-top: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 40px;
  }

  .back-btn:hover {
    margin-top: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 40px;
  }
  @-webkit-keyframes pulse-grow-on-hover {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes pulse-grow-on-hover {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .pulse-grow-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .pulse-grow-on-hover:hover, .pulse-grow-on-hover:focus, .pulse-grow-on-hover:active {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }


  .code-style{
    border:none;
    margin: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
  }

  .code-text{
    font-family: Nunito;
    font-style: bold;
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF; 
    margin-top:200px;
  }