<div class="bottle-view-page">
    <img class="back-btn pulse-grow-on-hover" routerLinkActive="active" [routerLink]="['/shore']" src="assets/img/arrowbackward.png">
    <img class="map-btn pulse-grow-on-hover" routerLinkActive="active" [routerLink]="['/map-view']" src="assets/img/mapicon.png">
        <a class="box-page"><img src="assets/img/bottleviewpage.png"></a>
        <div class="content-box">
        <h2 class="title-message" name="title" [(ngModel)]="title">{{title}}</h2>
        <p class="paragraph-message" name="paragraph" [(ngModel)]="paragraph">{{content}}</p>
</div>
</div>

<ng-template #modalHolder></ng-template>