<div class="home-page">
  <div *ngIf="page == 1" class="home-start" (click)="next()"></div>
    <div class="box">
        <div *ngIf="page == 2" class="fadeIn">
            <h1 class="header-welcome">THE SHORE</h1>
            <div class="login-btn">
              <button (click)="next()">enter</button>
            </div>
            <div class="login-btn-mobile">
              <button>Mobile Version not Available</button>
            </div>
        </div>

        <div *ngIf="page == 3">
               <h1 class="header-welcome">THE SHORE</h1>
               <div class="code-btn-head">
                <div type="submit" class="code-btn">
                  <button [routerLink]="['/login']">login</button>
                </div>
  
              <div type="submit" class="code-btn">
                <button [routerLink]="['/signup']">signup</button>
              </div>
            </div>
      </div>
  </div>
 </div>
  
  
