<div class="header">
    <div class="logo" routerLinkActive="active" [routerLink]="['/home']"><h1 class="header-text">THE SHORE</h1></div>

    <div class="profile-section">
        <!--<div class="name">{{fname}} {{lname}}</div>-->
    </div>
    
    <div class="settings-container">
        <!--<button class="settings" (click)="editSettings()" [routerLink]="['/home']"><img height="25" src="assets/img/settingsGearWhite.png"></button>-->
        <h1 class="name">Username</h1>
    </div>
</div>

